$max-width: 1100px;
$border-radius: 12px;
$font-chess-sans: "ChessSans";
$foreground-color: #262522;
$background-color: #302e2b;
$primary-color: #81b64c;
$primary-color-light: #a3d160;
$primary-color-dark: #548c43;
$secondary-color: #3c3b39;
$secondary-color-dark: #403f3d;
$secondary-color-vdark: #21201e;
$secondary-color-light: #444340;
$primary-text-color: #ffffff;
$secondary-text-color: #e1e1e0;
$light-text-color: #c3c2c1;
$dark-text-color: #989795;
$background-end-rgb: 255, 255, 255;
$white-color: white;
$text-box-color: #3c3b39;
$text-box-border-color: #4b4a48;
$text-box-border-color-light: #6f6f6d;
$maroon-color: #7c2929;
